
@{
    ViewBag.Title = "ViewAlltModel";
}

<h2>ViewAlltModel</h2>

@Html.Label("Product ID", (string)ViewBag.ProductName);
@Html.Label("Product Name", (string)ViewBag.ProductName);
@Html.Label("Price", (string)ViewBag.Price);
@Html.Label("Count", (string)ViewBag.Count);
